[submodule "engine"]
	path = engine
	url = https://github.com/Thunder-Engine-Dev/thunder-engine.git
	branch = main
[submodule "modules/switch-block"]
	path = modules/switch-block
	url = https://github.com/Thunder-Engine-Dev/te-switch-block.git
